/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.header {
  width: 60%;
  text-align: left;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 1.5rem 0 3rem;
}

.subheader {
  text-align: left;
  color: gray;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

span {
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  color: black;
}

.form {
  width: 60%;
  background-color: white;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.input {
  box-sizing: border-box;
  flex: 1;
  font-size:  2rem;
  border-width: 2px;
  border-style: solid;
  border-color: lightgrey;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: darkgray;
  padding: .75rem 1rem;
}

.input-button {
  width: 100%;
  display: flex;
}

.button {
  font-size: 2rem;
  font-weight: 400;
  padding: 1.2rem 1.5rem;
  box-sizing: border-box;
  background-color: #337AB7;
  border-radius: 5px;
  color: white;
}

h2 {
  font-size: 20px;
}
.sentence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 60%;
  position: relative;
  padding: 1rem;
  margin-bottom: 3rem;
  border-left: gray;
  border-left-style: solid;
}

.question {
  background-color: white;
}

.answer {
  background-color: lightyellow;
}

.answer .sentence__expression {
  font-weight: 400;
}

footer {
  width: 60%;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}
